



.user-card-full {
    overflow: hidden;
}

.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
    margin-bottom: 30px;
    color:black;
    
}

.m-r-0 {
    margin-right: 0px;
}

.m-l-0 {
    margin-left: 0px;
}

.user-card-full .user-profile {
    border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
  
    background: linear-gradient(to right, #952D98 ,#952D98);
}

.user-profile {
    padding: 20px 0;
}

.card-block {
    padding: 1.25rem;
    
}
.card{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}
.m-b-25 {
    margin-bottom: 25px;
}

.img-radius {
    border-radius: 5px;
}

h6 {
    font-size: 14px;
}

.card .card-block p {
    line-height: 25px;
}

@media only screen and (min-width: 1400px) {
    p {
        font-size: 14px;
    }
}

.card-block {
    padding: 1.25rem;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
    margin-bottom: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.card .card-block p {
    line-height: 25px;
}

.m-b-10 {
    margin-bottom: 10px;
}

.text-muted {
    color: #919aa3 !important;
}

.b-b-default {
    border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
    font-weight: 600;
}

.m-t-40 {
    margin-top: 20px;
}

.p-b-5 {
    padding-bottom: 5px !important;
}

.m-b-10 {
    margin-bottom: 10px;
}

.m-t-40 {
    margin-top: 20px;
}

.user-card-full .social-link li {
    display: inline-block;
}

.user-card-full .social-link li a {
    font-size: 20px;
    margin: 0 10px 0 0;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.custom-card-size {

    width: 100%;
}
.custom-image-size {
    width: 200px; 
    height: 200px; 
   
}
.btn-vert{
    background-color:#00ED64;
    border:2px solid #000000;
    color:#000000 !important;
 
    margin-left:3px;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 10px;
}
.btn:hover{
	box-shadow: gray;
	opacity: 0.8;
}
 
.move-button {
    display: inline-block;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color:#952D98;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
  }
  
  .move-button:hover {
    background-color: #952D98;
    color:#fff;
    border: 2px solid #000000;
    box-shadow: 5px 5px 0px #ffff;
  }
  
  .vert-button {
    display: inline-block;
    padding: 7px 15px;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color:#00ED64;
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
  }
  
  .vert-button:hover {
    background-color: #00ED64;
    color:#fff;
    border: 2px solid #000000;
    box-shadow: 5px 5px 0px #ffff;
  }

  
  